// Styling for the masthead
header.masthead {
  padding-top: 100px;
  padding-bottom: 50px;
  height: 100%;

  background: url(../img/backgrounds/bg-1.jpg) no-repeat center center/cover;

  text-align: center;

  color: white;

  &:before {
    background-color: rgba(216, 17, 17, 0.7);
  }

  img {
    display: block;

    margin: 0 auto 20px;
  }
  .intro-text {
    .name {
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 2em;
      font-weight: 700;

      display: block;

      text-transform: uppercase;
    }
    .skills {
      font-size: 1.25em;
      font-weight: 300;
    }
  }
}

.go-good-logo {
  background: url(../img/logo2.png) no-repeat center center/cover;
  background-size: 40%;
  height: 100%;

  @media(max-width:1200px) {
    background-size: 50%;
  }

  @media(max-width:992px) {
    background-size: 70%;
  }

  @media(max-width:767px) {
    background-size: 100%;
  }
}

@media(min-width:768px) {
  header.masthead {
    padding-top: 200px;
    padding-bottom: 100px;
    .intro-text {
      .name {
        font-size: 4.75em;
      }
      .skills {
        font-size: 1.75em;
      }
    }
  }
}
